body {
    font-family: 'Courier Prime', monospace;
}

#header {
    background-image: url("imgs/header3.jpg");
    background-repeat: no-repeat;
    background-size: 1700px 500px;
}

#body {
    background-color: #f2f2f2;
}

#footercolor {
    color: black;
}

.jumbotron .btn:hover  {
    background-color: #f2f2f2;
}

/* #png1 {
    width: 70px;
    height: 70px;
} */

/*Background Image - Tao?*/

/* #navbarSupportedContent .navFont {
    color: white;
} 

.navFont1 {
    color: black;
    hoover: 
}

.navFont:hoover {
    color: black;

}

.navFont1:hoover {
    color: white;
    hoover: 

} */